<div
    style="border: 2px solid black; margin: 20px; padding: 10px; font-family: sans-serif; border-radius: 10px; background-color: #fffbed;">
    <h4>{{title}}</h4>
    <img style="position: absolute; top: 30px; right: 40px; width: 80px;"
        src="https://cdn4.iconfinder.com/data/icons/kitchen-130/64/25_book_recipes_recipe_kitchen_cook_cooking_food-512.png" />
    <h5><span>{{message1}}</span><span style="text-decoration: underline;">{{password}}</span></h5>
    <hr />
    <p style="font-size: 12px;font-weight: bold; text-transform: uppercase;">{{message2}}</p>
    <p style="font-size: 8px; text-transform: uppercase;">this message was generated automatically do not reply to it
    </p>
</div>